body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f5f5;
}

nav {
  background: #111;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.category a {
  display: inline-block;
  margin: 15px;
  padding: 15px 25px;
  background: #ff5722;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.product {
  background: white;
  width: 260px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  background: #2196f3;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}
.product img {
  width: 200px;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

